﻿@using synchronizer.Tfs4jira2.Utils
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/Css/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Css/ProfileWizard.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Css/jquery.datetimepicker.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Css/jquery.chosen.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Css/themes/custom-theme/jquery-ui-1.8.24.custom.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Css/select2-3.5.2.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Css/jquery.tooltipster.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Css/dropit.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/FrontendResources/static/css/app.css")" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" type="image/png" href="../../Content/Images/logo.png" />
        <script type="text/javascript">
            var contextPath = "@Url.Content("~")".replace(/\/$/, '');
            console.log("Synchronizer context path : \"" + contextPath + "\"");
            window.Spartez = {
                Shared: {
                    notification: null,
                    notifications: [],
                    sendNotification: function(receiver, payload) {
                        this.notification = { receiver: receiver, payload: payload, dispatched: false };
                        this.notifications.push(this.notification);
                    }
                }
            };
            window.Spartez.Shared.sendNotification('AppConfig', {contextPath: contextPath});
        </script>
        <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.cookie.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.jstepper.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.datetimepicker.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/chosen.jquery.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/select2-3.5.2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/main.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/date.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.visibility.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.tooltipster.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/moment.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/underscore.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/dropit.js")" type="text/javascript"></script>
        <meta http-equiv="Cache-control" content="no-cache" />
    </head>
    <body>
       
    <div class="page">
        <div class="vue-container" id="notification-handler">
            <notification-handler></notification-handler>
        </div>
        <div id="header">
            <a href="@Url.Action("Index", "Tfs", new { id = string.Empty }, null)"><div id="applogo">TFS4JIRA Synchronizer</div></a>
            <div id="logindisplay" style="min-height: 2em;">

                @if (ViewBag.isLogInPage == null)
                {
                    @Html.Partial("_LogOnPartial")
                }
            </div>
            <div id="menucontainer">
                <div style="position: relative; float: right;">
                    <ul id="menu">
                        @if (ViewBag.isAuthorized != null && ViewBag.isAuthorized)
                        {
                            <li id="menu-config">@Html.ActionLink("Synchronization Configuration", "Index", "Tfs", new {id = string.Empty}, null)</li>
                            <li id="menu-check-ins-config">@Html.ActionLink("Check-ins Scanning", "Index", "Checkins", new { id = string.Empty }, null)</li>
                            <li id="menu-logging-events">@Html.ActionLink("Errors", "Index", "LoggingEvents")</li>
                            <li id="menu-settings">@Html.ActionLink("Settings", "Index", "Settings")</li>
                            <li id="menu-activity">@Html.ActionLink("Log", "Index", "Home")</li>
                        }
                        <li id="menu-about">@Html.ActionLink("About", "About", "Home")</li>
                    </ul>
                </div>
                <div id="helpme-container"><a href="#" id="helpme">Help</a></div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="main">
            <div id="content">
                @RenderBody()
            </div>
        </div>
        <div id="help">
            <div style="margin-bottom: 10px;">
                <h3 style="padding-left: 10px; margin-top: 10px;" id="helptitle">Help</h3>
                <div style="position: absolute; right: 1em; top: 15px;">
                    <a href="#" id="closehelp">Hide</a>
                </div>
            </div>
            <div id="helpinner"></div>
        </div>
        <div id="footer">
            <div id="footer-left"><a target="_blank" href="https://jira.spartez.com/browse/TFS">Submit a feature request or report a bug</a></div>
            <div id="footer-center">@Html.Raw(synchronizer.Services.ConfigService.FooterMessage())</div>
            <div id="footer-right">&copy; 2014-2018 <a href="http://tfs4jira.spartez.com">Spartez</a></div>
        </div>
    </div>
    <div class="vue-container" id="message-box">
        <message-box></message-box>
    </div>
    </body>
    
    <script src="@Url.Content("~/FrontendResources/static/js/manifest.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/FrontendResources/static/js/vendor.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/FrontendResources/static/js/app.js")" type="text/javascript"></script>
   
</html>
